node_modules/
build/
dist/
.idea/
.vscode/*
!.vscode/settings.json
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
npm-debug.log*
coverage/
.nyc_output/
.env
.env.*.local
iobroker-data/
.commitinfo
*.tgz
iob_npm.done
